.table-container{
    position:fixed;
    top:120px;
    left: 180px;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
}

.table-main-container {
    display: flex;
    flex-direction: column;
    gap:8px;
    padding: 1rem;
    width: 75%;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid rgb(167, 169, 169);
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

th {
    background-color:  rgb(211, 212, 212);
}

.text{
    font-family: "Roboto";
    font-size: 18px;
}

.text1{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
}

.text3 {
    padding-left: 20px;
}


td {
    background-color: #ffffff;
    
}


.popup-container{
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    margin-left: 70%;
    border-style: solid;
    border-color: rgb(204, 201, 201);
    border-width: 1px;
    border-radius: 10px;
    
}

.popup-sub-container {
    width: 300px;
    background-color: rgb(242, 129, 139);
    border-right-style: solid;
    border-right-color: rgb(204, 201, 201);
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add-user-button{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    
}

.fa-user {
    width: 100px;
    height: 100px;
    color:  #ffffff;
    border-style: none;
    align-self: center; 
}

.user-fa-description {
    color:  #ffffff;
    padding: 10px;
}

.form-container {
    align-self: center;
    margin-left: 50px;
}

.delete-container {
    background-color: green;
    border-style: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 40%;
}

.delete-icon {
    color: #ffffff;
    margin: 12px;
}

.previous-container {
    width: 60%;
}

.previous-button {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-top: 20px;
}

.next-button {
    margin-right: 50px;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-top: 20px;
}



.popup-button {
    width: 120px;
    margin-top: 20px;
    margin-right: 20px;
}

.user-text-add {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
}