
.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgb(167, 169, 169);
    
}

.main-logo{
    position: absolute;
    top: 20px;
    left: 50px;
}

.main-logo-size {
    width: 150px;
    height: 30px;
}

.logo-container {
    display: flex;
    margin-top: 50px;
    margin-right: 100px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-description{
    display: flex;
    flex-direction: row;
    width: 300px;
}

.user-details {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.sub-logo-background{
    width: 70px;
    height: 50px;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;  
}

.header-heading {
    color: rgb(36, 34, 34);
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 25px;
    margin-left: 0px;
}

.avatar {
    width: 50px;
    height: 60px;
}

.avatar-name {
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.triangle-letter {
    color: green;
    background-color: black;
    
}